In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('subway.csv')

In [ ]:
df

In [ ]:
points_x = []
points_y = []
for i in df['the_geom']:
    i = i.replace('POINT ', '')
    points_x.append(float(i.split(' ')[0][1:]))
    points_y.append(float(i.split(' ')[1][:-1]))

In [ ]:
def normalize(l, a, b):
    min_value = min(l)
    max_value = max(l)
    return [(b - a) * (x - min_value) / (max_value - min_value) + a for x in l]

In [ ]:
points_x = normalize(points_x, -60, 60)
points_y = normalize(points_y, -80, 80)

In [ ]:
f = open('subway.txt', 'w')
for h, i, j, k in zip(df['NAME'], points_x, points_y, df['LINE']):
    f.write(str(h).replace(' ', '_') + " " + str(i) + " " + str(j) + " " + str(k).replace(' ', '_') + "\n");

In [ ]:
target = input("Line? ")
stops = []
for name, line in zip(df['NAME'], df['LINE']):
    if target in line:
        stops.append(name.replace(' ', '_'))

for i in sorted(stops):
    print(i)